{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-md-center">
            <h1 class="display-4">400 | Bad Request</h1>
            <p class="h3 mt-3 mb-3">The server could not understand the request due to invalid syntax.<br>
                Please check your request and try again.</p>
            <h3 class="mb-4"><a aria-label="homepage link" href="{% url 'home' %}">Click here to return to the homepage.</a></p>
        </div>
    </div>
</div>
{% endblock %}