{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-md-center">
            <h1 class="display-4">500 | Internal Server Error</h1>
            <p class="h3 mt-3 mb-3">Sorry, something went wrong on our end.<br>
                Please try again later or contact support if the issue persists.</p>
          
            <h3 class="mb-4"><a aria-label="homepage link" href="{% url 'home' %}">Click here to return to the homepage.</a></p>
        </div>
    </div>
</div>
{% endblock %}